.footer{
  background-color: #f4f7fa;
  position: relative;
  padding: 120px 0 125px;
  &__form{
    margin-left: 19%;
    position: absolute;
    top: -230px;
  }
  &__tel{
    margin-left: 60%;
  }
}

.call--footer{
  .call{
    &__link{
      padding-left: 80px;
      display: block;
      font-size: 4.375em;
      font-family: $fira-bold;
      &:before{
        background: url(images/tel-f.svg);
        width: 70px;
        height: 70px;
      }
    }
    &__button{
      display: block;
      float: right;
    }
  }
}

