$orange: #fe7e1e;
$orange-two: #ff5d17;
$orange-three: #f29400;
$black: #222426;
$white: #fff;
$bebas: 'bebasregular', sans-serif;
$bebas-ru: 'bebas_neueregular', sans-serif;
$fira-bold: 'fira_sansbold', sans-serif;
$fira-medium: 'fira_sansmedium', sans-serif;
$fira-regular: 'fira_sansregular', sans-serif;
