doctype html
html.no-js(lang='RU-ru')
  head
    include template/_head.pug
  body
    .wrapper
      include template/_header.pug
      include template/_main.pug
      include template/_footer.pug

      include template/_script.pug