footer.footer
  form(action="#" method="post").footer__form.form-vertical
    h2.form-vertical__title Хочу машину
    label.form-vertical__label(for="name") Имя
    input(type="text" placeholder="Введите ваше имя" id="name")
    label.form-vertical__label(for="phone") Телефон
    <select id="country">
    <option value="ua">+380</option>
    <option value="ru">+7</option>
    <option value="by">+375</option>
    </select>
    input.form-vertical__input(type="text" placeholder="Номер телефона" id="phone")
    label.form-vertical__label(for="mail") Email
    input(type="text" placeholder="Введите ваш e-mail" id="mail")
    button.form-vertical__btn(type="submit") Отправить
  .footer__tel.call.call--footer
    .call__wrapper
      a.call__link(href="tel:80671221627") 8 067 122 16 27
      button.call__button(type="button") Перезвоните мне
